@using ServeIt.Web.ViewModels.Restaurants
<br />
<br />
<br />
<br />

<section id="why-us" class="why-us">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>All</h2>
            <p>Restaurants</p>


        </div>
        <div class="col-lg-4 col-md-6 form-group">
            <input type="text" onkeyup="myFunction()"  name="town" class="form-control" id="search" placeholder="Search..." >
    
        </div>
        <br />  
        @if (ViewData["town"] != null)
        {
            <div class="section-title">
                <p>Sorry, but we don't have restaurants in @ViewData["town"]</p>
            </div>
        }
        else
        {
            <div class="row">

                @foreach (var restaurant in Model as IEnumerable<AllRestaurantViewModel>)
                {
                    <div class="col-lg-4 mt-4 mt-lg-0" onclick="location.href = '/Restaurants/Info/@restaurant.RestaurantId'" style="cursor: pointer;">

                        <div class="box" data-aos="zoom-in" data-aos-delay="200">
                            <span>Rating: @restaurant.Rating</span>
                            <h4>@restaurant.Name </h4>
                            <p id="address">Address: @restaurant.Country, @restaurant.City, @restaurant.Street.</p>
                        </div>
                    </div>
                }




            </div>
        }




    </div>
</section>

<script>
    function myFunction() {
        // Declare variables
        var input, filter,  i, txtValue;
        input = document.getElementById('search');
        filter = input.value.toUpperCase();
      
        restaurantsName = document.querySelectorAll("h4");



        for (var i = 0; i < restaurantsName.length; i++) {
           
            txtValue = restaurantsName[i].textContent || restaurantsName[i].innerText;

            var parrent = restaurantsName[i].parentElement.parentElement;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                parrent.style.display = "block";
            }
            else {
                parrent.style.display = "none";
            }
        }

        function adrress() {
            // Declare variables
            var input, filter, i, txtValue;
            input = document.getElementById('search');
            filter = input.value.toUpperCase();

            addresses = document.querySelectorAll("#address");



            for (var i = 0; i < addresses.length; i++) {
                
                txtValue = addresses[i].textContent || addresses[i].innerText;
                console.log(txtValue)
                var parrent = addresses[i].parentElement.parentElement;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    parrent.style.display = "block";
                }
                else {
                    parrent.style.display = "none";
                }
            }


        }

        adrress();
    }
</script>